body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:595px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:821px;
}
#u0 {
  position:absolute;
  left:200px;
  top:0px;
  width:395px;
  height:821px;
}
#u1 {
  position:absolute;
  left:2px;
  top:402px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:236px;
  top:120px;
  width:326px;
  height:575px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:575px;
}
